@{
    ViewBag.Title = "CV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="row box">
    <header>
        <hr />
        <h2 class="text-center">Curriculum Vitae</h2>
        <hr />
    </header>
    <br />
    <article class="col-lg-8">
        <h4>Basic information</h4>
        <ul>
            <li>Name : Aleksandar Čambas</li>
            <li>Birthday :  <a href="http://www.datesinhistory.com/jan02.php">Jan 2, 1988</a></li>
            <li>Nationality : Serbian</li>
            <li>Spoken languages : Serbian (native), English (professional)</li>
        </ul>
        <br />

        <h4>Education</h4>
        <ul>
            <li>
                2007 – 2013 : BSc – <a href="http://www.fon.rs" target="_blank">Faculty of Organizational Sciences</a>, Information Systems and Technology
                <ul>
                    <li>Bachelor thesis: “Developing web aplication using extreme programming methodolgy and .NET tools”</li>
                </ul>
            </li>
            <li>2003 – 2007 : Computer Technician – “Petar Drapšin” technical school</li>
            <li>1995 – 2003 : Elementary school</li>
        </ul>
        <br />

        <h4>Employment</h4>
        <ul>

            <li>
                July 2013 – current : <a href="http://www.comtrade.com/" target="_blank">Comtrade</a> - Senior Software Developer
                <ul>
                    <li>
                        <em>Project: </em>"Gaming S2S SGI ", Service for communication between state organizations and
                        casino administration systems, the service needed to implement GSA’s System to System protocol.
                        <br />
                        <em>Technology i used on project: </em>WCF, MSSQL, Visual Studio 2010,
                    </li>
                </ul>
            </li>

            <li>
                April 2012 – July 2013 : <a href="http://www.comtrade.com/" target="_blank">Comtrade</a> - Software Developer
                <ul>
                    <li>
                        <em>Project: </em>"Gaming S2S SGI ", Service for communication between state organizations and 
                        casino administration systems, the service needed to implement GSA’s System to System protocol. 
                        <br />
                        <em>Technology i used on project: </em>WCF, MSSQL, Visual Studio 2010,
                    </li>
                    <li>
                        <em>Project: </em>IT Courses, i worked as a teacher for Entity Framework
                        <br />
                        <em>Technology i used on project: </em> MSSQL, Visual Studio 2012, Entity Framework
                    </li>
                    <li>
                        <em>Project: </em>"VMA", Information system for hospital to be used for all organization needs
                        <br />
                        <em>Technology i used on project: </em>ASP.NET MVC, LLBL, MSSQL, Visual Studio 2010,
                        JavaScript
                    </li>
                </ul>
            </li>

            <li>
                November 2011 – April 2012 : <a href="http://www.comtrade.com/" target="_blank">Comtrade</a> – Intern
                <ul>
                    <li>
                        <em>Project: </em>"JBS", web aplication with centralized data of all voters in Serbia,
                        it was ment to be used by both citizens and state.
                        <br />
                        <em>Technology i used on project: </em>ASP.NET MVC, LinqToSQL, MSSQL, Visual Studio 2010,
                        JavaScript
                    </li>
                </ul>
            </li>

            <li>
                May 2011 – November 2011 : <a href="https://zis.beograd.gov.rs/" target="_blank">Belgrade Institution For Computers & Statistics</a> – Intern
                <ul>
                    <li>
                        <em>Project: </em>Web aplication for analyzing people's names in Belgrade. The goal was to be able to see
                        most and least popular names in Belgrade (Most popular in last 50 years is "Aleksandar :)" ). I worked on 
                        mostly on SQL sprocs.
                        <br />
                        <em>Technology i used on project: </em>ASP.NET WebForms, .NET 4, SQL Server 2008, WCF
                    </li>
                    <li>
                        <em>Project: </em>Internal project for additional analysis and calculation of costs in Institution. I worked
                        <br />
                        <em>Technology i used on project: </em>WinForms, .NET 4, SQL Server 2008
                    </li>
                </ul>
            </li>
        </ul>
        <br />


        <h4>Skills</h4>
        <ul>
            <li>
                <strong>C#</strong>
                <ul>
                    <li>Level: Intermediate</li>
                    <li>Professional experience: 2011 – now</li>
                    <li>Student experience: 2007 – 2011</li>
                </ul>
            </li>
            <li>
                <strong>Visual Studio</strong> (2008, 2010, 2012, 2013)
                <ul>
                    <li>Level: Intermediate</li>
                    <li>Professional experience: 2011 – now</li>
                    <li>Student experience: 2007 – 2011</li>
                </ul>
            </li>
            <li>
                <strong>Git</strong>
                <ul>
                    <li>Level: Beginner</li>
                    <li>Professional experience: 2013 – now</li>
                </ul>
            </li>
            <li>
                <strong>SVN</strong>
                <ul>
                    <li>Level: Intermediate</li>
                    <li>Professional experience: 2011 – now</li>
                </ul>
            </li>
            <li>
                <strong>Azure</strong>
                <ul>
                    <li>Level: Beginner</li>
                    <li>Professional experience: 2013 – now</li>
                </ul>
            </li>
            <li>
                <strong>ASP.NET MVC</strong>
                <ul>
                    <li>Level: Intermediate</li>
                    <li>Professional experience: 2011 – now</li>
                </ul>
            </li>
            <li>
                <strong>Web API</strong>
                <ul>
                    <li>Level: Intermediate</li>
                    <li>Professional experience: 2012 – now</li>
                </ul>
            </li>
            <li>
                <strong>SignalR</strong>
                <ul>
                    <li>Level: Beginner</li>
                    <li>Professional experience: 2013 – now</li>
                </ul>
            </li>
            <li>
                <strong>SQL Server (2008, 2012)</strong>
                <ul>
                    <li>Level: Beginner</li>
                    <li>Professional experience: 2011 – now</li>
                </ul>
            </li>
            <li>
                <strong>Entity Framework</strong>
                <ul>
                    <li>Level: Intermediate</li>
                    <li>Professional experience: 2012 – now</li>
                </ul>
            </li>
            <li>
                <strong>RavenDB</strong>
                <ul>
                    <li>Level: Beginner</li>
                    <li>Professional experience: 2013 – now</li>
                </ul>
            </li>
            <li>
                <strong>Javascript</strong>
                <ul>
                    <li>Level: Intermediate</li>
                    <li>Professional experience: 2011 – now</li>
                </ul>
            </li>
            <li>
                <strong>Knockout.js</strong>
                <ul>
                    <li>Level: Intermediate</li>
                    <li>Professional experience: 2011 – now</li>
                </ul>
            </li>
            <li>
                <strong>Java</strong>
                <ul>
                    <li>Level: Beginner</li>
                    <li>Professional experience: 2011 – 2013</li>
                    <li>Student experience: 2007 – 2011</li>
                </ul>
            </li>
            <li>
                <strong>Android Development</strong>
                <ul>
                    <li>Level: Beginner</li>
                    <li>Professional experience: 2012 – 2013</li>
                </ul>
            </li>
            <li>
                <strong>Other tools i know how to use</strong>
                <ul>
                    <li>AutoMapper, Bootstrap, jQuery, FontAwesome, MvcDonutCaching, Unity, IdentityModel... </li>
                </ul>
            </li>
        </ul>
    </article>
    <aside class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">Links</div>
            <div class="panel-body">
                <div class="g-person" data-width="291" data-href="//plus.google.com/106474202923311989136" data-layout="landscape" data-rel="author"></div>
                <script type="text/javascript">
                    (function () {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/platform.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                </script>
                <br />
                <br />
                <ul class="list-unstyled">
                    <li><a href="http://github.com/acambas"><i class="fa fa-github"></i>    GitHub</a></li>
                    <li><a href="http://rs.linkedin.com/in/acambas/"><i class="fa fa-linkedin"></i>    LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </aside>
</section>